extends layout

block content
    - if (newUser && user)
        .alert.alert-success.alert-dismissable(role="alert")
            button.close(data-dismiss="alert")
                span(aria-hidden="true") &times;
                span.sr-only Close
            strong Welcome to git-lesson, #{user.username}!
    - if (!user)
        .jumbotron
            .container
                h1#title #{title}_
                p Share coding tips and lessons right from your commits!
                a(href="/login")
                    button#loginButton.btn.btn-medium.btn-primary
                        span Log in with GitHub
                        i.fa.fa-github
    - else
        h1#title #{title}_
    - if (tips)
        h3 Latest tips
        each tip, index in tips
            .lesson
                a.repoLink(href="#{tip.repo.url}/commit/#{tip.lesson.commitId}") Source commit
                a.permalink(href="/lesson/#{tip.lesson.id}") Permalink
                .lessonText 
                    != tip.lesson.postHtml
    script.
        
