extends layout

block content
    include navbar.jade
    +navbar('#')
    // Add logout link/button somewhere at the top of the page
    - if (logout)
        .alert.alert-success.alert-dismissable(role="alert")
            button.close(data-dismiss="alert")
                span(aria-hidden="true") &times;
                span.sr-only Close
            strong You are now logged out. See you soon! :)
    - else if (newUser && user)
        .alert.alert-success.alert-dismissable(role="alert")
            button.close(data-dismiss="alert")
                span(aria-hidden="true") &times;
                span.sr-only Close
            strong Welcome to git-lesson, #{user.username}!
    - if (!user)
        .jumbotron
            .container
                h1#title #{title}_
                p Share coding tips and lessons right from your commits!
                a(href="/login")
                    button#loginButton.btn.btn-medium.btn-primary
                        span Log in with GitHub
                        i.fa.fa-github
    - else
        h1#title #{title}_
    .row
        .col-xs-4
            h1 What?
            p Publish coding tips right from your commits!
        .col-xs-4
            h1 Why?
            p As coders, we often stumble upon frustarting bugs. These bugs can sometimes takes a few days (if not weeks) to solve.
                | We look up on the internet if anybody stumbled upon the same problem as us, but sometimes without success.
        .col-xs-4
            h1 How?
            div
                != 'Login with your GitHub account once. A <a href="https://developer.github.com/webhooks/" target="_blank">webhook</a> will be set up for each of your public repos (including repos from organizations where your publicized your membership). And that\'s it.<br>'
            div(style="margin-top: 10px")
                != 'Each time you add a <code>[lesson]</code> line in your git commit message, git-lesson will try to parse the lesson you tried to convey and post in your name on this website.'
    - if (tips)
        h3 Latest tips
        each tip, index in tips
            .lesson
                .header
                    a.repoLink.pull-right(href="#{tip.repo.url}/commit/#{tip.lesson.commitId}") Source commit
                    a.permalink.pull-right(href="/lesson/#{tip.lesson.id}") Permalink
                    .lessonDate.pull-right #{tip.lesson.postDate}
                .lessonText 
                    != tip.lesson.postHtml
    script.
        
